extends layout
block content
    h1= title
    p Welcome to #{title}
    form(name="login", action="/users", method="post")
        input(type="text",ng-model="yourName")
        input(type="text",name='{{yourName}}')
        input(type="submit", value="提交")