@import "base-old.v10.css";

.bg{
	min-width: 1000px;
	background: url(../img/bg.jpg) center no-repeat;
}
.content{
  width: 1000px;
  min-height: 1900px;
  margin: 0 auto;
  position: relative;
}

.rlue-box {
	width: 830px;
	height: 680px;
	position: absolute;
	top: 1048px;
	left: 90px;
}

.prize-button {
	width: 113px;
	height: 113px;
	position: absolute;
	top: 543px;
	left: 244px;
	cursor: pointer;
}

.rule-anva {
	float: left;
	width: 35px;
	margin-top: 5px;
}
.rule-title {
	font-size: 23px;
	font-family: 微软雅黑;
	display: block;
	width: 220px;
	height: 40px;
	color: #732d1d;
	
}

.rule-title > p {
	line-height: 34px;
	padding-top: 5px;
	border-bottom: 1px #b8926d solid;
	float: left;
}

.sub-title {
	float: left;
	font-size: 14px;
	font-family: 微软雅黑;
	width: 70px;
	line-height: 24.3px;
}

.role-content {
	font-family: 微软雅黑;
	float:left;
	font-size: 15px;
	line-height: 24.3px;
	width: 600px;
}

.rlue-box > div{
	overflow: hidden;
	min-height: 220px;
}

.rule-title > img{
	width: 30px;
	height: 30px;
	display: block;
	margin-right: 10px;
}

p > strong {
	color:#bd6a5f;
}

.nav {
	width: 113px;
	height: 226px;
	background: url('../img/nav.png') top no-repeat;
	position: fixed ; 
	top: 300px;
	margin-left: 1000px;
}

.nav ul {
	padding-top: 30px;
}
.nav  li {
	display: block;
	height: 40px;
	width: 100%;
	text-align: center;
	line-height: 40px;
	color: #d4a75c;
	cursor: pointer;
	font-size: 17px;
	font-family: 微软雅黑;
}

li >a {
	color: #d4a75c;
}

.alert-box {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	display: none;
}

.overlay {
	position: fixed;
	background: black;
	opacity: 0.7;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	width: 100%;
	height: 100%;
	top:0px;
	left:0px;
}

.alert-content {
	width: 438px;
	height: 356px;
	margin: 0 auto;
	margin-top:200px;
	background: url('../img/alert-content.png');
	position: relative;
}

.close-button {
	width: 35px;
	height: 35px;
	float: right;
	cursor: pointer;
}

.alert-content p {
	width: 258px;
	display: block;
	margin:0 auto;
	font-size: 15px;
}

.alert-content input {
	display: block;
	width: 258px;
	margin: 0 auto;
	height: 30px;
	font-size: 20px;
	border-radius: 8px;
	background: #f4f4f4;
	border: 1px #e5e5e5 solid;
}

.prize-name {
	text-align: center;
	padding-top:90px;
	width: 320px;
	border-bottom: 1px #aca6a3 dashed;
	margin:0 auto;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-family: 微软雅黑;
	font-size: 30px;
	line-height: 30px;
	color: #71401D;
	font-weight: bold;
}

.prize-name>span {
	color: #d34421 ;
	font-size: 35px;
}

.confirm-button {
	float: right;
	width: 70px;
	height: 25px;
	background: #c03324;
	text-align: center;
	border-radius: 10px;
	line-height: 25px;
	font-size: 18px;
	color: white;
	margin-top: 10px;
	margin-right: 85px;
	font-family: 宋体;
	cursor:pointer;
}



.fail-promo {
	width: 258px;
	display: block;
	margin:0 auto;
	font-size: 20px!important;
	color: #8a6c60;
	text-align: center;
}

.alert-fail {
	display: none;
}

.alert-prize {
	display: none;
}
.alert-fail > .prize-name {
	padding-top:150px;
}