body, div, h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0;
	padding: 0;
	outline: none;
	font-weight: normal
}
body {
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #323232;
	line-height: 1.5em;
	background-color:#e6e6e6;
}
a {
	text-decoration: none;
}

.active-title{
	background-color: #ffffff;
}


.active-content{
	box-sizing: border-box;
}


button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	padding: 0;
	outline;
}
textarea, input {
	resize: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
textarea {
	resize: none;
	-webkit-appearance: none
}
ul, ol {
	list-style: none
}
em {
	font-style: normal
}
section {
	zoom: 1
}

.active-bg{
	position: absolute;
	width: 100%;
	height: auto;
	z-index: -1;
}

.active-bg img{
	position: fixed;
	width: 100%;
	height: 100%;
}
.active-title {
	position: relative;
	padding: 10px 15px;
	background: #f55e45;
	color: #ffffff;
}
.active-title .icon {
	position: absolute;
	bottom: -8px;
	left: 50%;
	width: 59px;
	height: 8px;
	margin-left: -30px;
	background: url("i/icon.png") no-repeat;
	-webkit-background-size: 59px auto;
	background-size: 59px auto
}
.active-banner{
	padding: 14px 12px;
	box-sizing: border-box;
	width: 100%;
	padding-bottom: 0px;
}

.active-banner>img {
	display: block;
	margin: 0 auto;
	width: 298px;
	height: auto;
}

.active-content {
	padding-top: 12px;
}
.active-content .title {
	padding: 20px 10px;
	padding-bottom:10px;
}
.active-content .title h4 {
	font-size: 20px;
	font-weight: normal;
	line-height: 28px
}
.detail-content li span {
	color: #d8d8d8
}
.detail-content {
	padding: 10px;
	border-top: 1px dashed #d8d8d8
}
.detail-content li {
	line-height: 30px;
	font-size: 14px
}
.title p {
	font-size: 14px;
	line-height: 20px
}
.ticket-number {
}
.shop-list-link {
	line-height: 50px
}
.shop-list-link ul li {
	display: inline-block;
	padding: 0 10px
}
.more-arrow {
	float: right
}
.more-arrow {
	width: 20px;
	height: 50px;
	background: url("../img/arrow.png") no-repeat;
	-webkit-background-size: 42px 50px;
	background-size: 42px 50px;
}
.use-ticket-content {
	height: 100px;
	background-color: #e6e6e6;
	padding-top: 15px;
	border-top: 1px solid #c8c8c8
}
.use-ticket-link {
	background-color: #ff8400;
	padding:10px 10px;
	border-radius: 5px;
	color: white;
	font-size: 20px;
	width: 95%;
	text-align: center;
	margin: 0 auto;
	
}

.use-ticket-link p {
	display: inline-block;
	line-height: 1.5em;
}

.active-border {
	border-top: 1px solid #c8c8c8
}
#overlay_ {
	background-color: rgb(0, 0, 0);
	border-top-width: 1px;
	border-top-style:;
	solid;
	border-top-color: rgb(0, 0, 0);
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 9999;
	top: 0px;
	left: 0px;
	opacity: 0.7
}
.alert-view {
	height: 140px;
	width: 80%;
	background-color: white;
	opacity: 1;
	z-index: 100000;
	position: fixed;
	top: 30%;
	left: 10%;
	border-radius: 5px
}
.alert-message {
	overflow: hidden;
	height: 70%;
	text-align: center;
	line-height: 100px;
	border-bottom: 1px solid #c8c8c8
}
.alert-view ul li {
	display: inline-block;
	width: 49%;
	text-align: center;
	line-height: 40px;
	border-right: 1px solid #c8c8c8;
	box-sizing: border-box;
}
.primary-button {
	color: #ff8400;
	border-right: 0;
}
.active-shop-title {
	position: relative;
	padding: 10px 25px;
	background-color: #f3f3f3;
	color: #9d9992
}
.shop-list .tit {
	position: relative;
	padding-bottom: 5px;
	font-size: 18px;
	color: #696969
}
.shop-list .explai {
	display: inline;
	color: #9d9992;
	font-size: 14px
}
.shop-list .location {
	color: #9d9992;
	float: right
}
.shop-list li {
	display: list-item;
	height: 68px;
	text-align: -webkit-match-parent
}
.shop-list li a {
	padding: 5px;
	border-bottom: 1px solid #ededed;
	display: block
}
.shop-list li:last-child a{
	border-bottom: 0px;
}
.use-ticket-status{
	background-color: #c6c6c6;
	font-size: 16px;
}
.title{
	position: relative;
}

.title i{
	position: absolute;
	width: 80px;
	height: 49px;
	top:0;
	right: 0;
	background-size: 78px auto;
}

.alreadyused{
	background: url('i/label_alreadyused.png') no-repeat;
}

.expired{
	background: url('i/label_expired.png') no-repeat;
}

.notstarted{
	background: url('i/label_notstarted') no-repeat;
}

.active-content{
	
}
.event-link{
	display: block;
	margin: 0 auto;
}

.event-intro{
	bottom:13%;
	left: 18%;
	position: absolute;
	width: 64%;
	font-size: 12px;
}	

.role-intro{
	position: fixed;
	top:0px;
	width: 100%;
	height: 100%;
	background: white;
	overflow: auto;
	
}
.role-intro-content{
	display: block;
	position: fixed;
	height:98%;
}

.role-back{
	background-color: white;
}
.role-intro-back{
	display: block;
	margin: 0 auto;
	width: 100%;
	border-top: 1px solid white;
}

.role-title{
	padding: 0 15px;
	padding-top: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.role-section{
	padding: 0 15px;
	font-size: 14px;
	margin-bottom: 8px;
}
.role-link{
	display: block;
	position: absolute;
	bottom: 0px;
	width: 320px;
	height: 20px;
	left: 0px;
}

.title-banner{
	
	width: 100%;
	min-height: 125px;
}

.content-ul{
	width:100%; 
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
}
.content-ul > li{
	float: left;
	width: 50%;
	height: 175px;
	background: white;
	padding: 
}





/*new */
.banner{
  height: 360px;
}

.hair-banner{
  background: url('../img/hair-banner.jpg') no-repeat;
  background-size: 100% auto;

}

.bea-banner{
  background: url('../img/bea-banner.jpg')  no-repeat;
  background-size: 100% auto;
}

.mishi-banner{
  background: url('../img/mishi-banner.jpg')  no-repeat;
  background-size: 100% auto;
}

.meijia-banner{
  background: url('../img/meijia-banner.jpg') ;
  background-size: 100% auto;
}

.worldcup-banner{
  background: url('../img/worldcup-banner.jpg') ;
  background-size: 100% auto;
}
.main-ul{
  /*width: 100%;*/
  width: 298px;
  min-height: 400px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
.main-ul >li{
  background: white;
  display: inline-block;
  width: 145px;
  /*height: 180px;*/
  float: left;
  margin-bottom: 10px;
  border: 1px solid #e4e4e4;
}

.main-ul >li:nth-of-type(even){
  float: right;
}

.shop-pic{
  display: block;
  /*width: 440px;*/
  width: 145px;
  height: 92px;
  
}

.shop-name{
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.2em;
  height: 28px;
}

.button-ul {
  
}
.button-ul >li{
  float: left;
  width: 48px;
  height: 44px;
  
}

.buttons-0{
  background: url('../img/buttons-meijia.png');  
}

.buttons-1{
  background: url('../img/buttons-hair.png');  
}

.buttons-2{
  background: url('../img/buttons-bea.png');  
}

.buttons-3{
  background: url('../img/buttons-mishi.png');  
}

.buttons-4{
  background: url('../img/buttons-meijia.png');  
}

.buttons-dis{
  background: url('../img/buttons-dis.png');  
}

.promotions{
  background-position: -3px 0px ;
  background-size: 48px 44px no-repeat;
}

.coupon{
  background-position: 49px 0px ;
  
  background-size: 48px 44px no-repeat;
}

.group{
  
  background-position: 100px 0px ;
  background-size: 48px 44px no-repeat;
}

.button-ul > li > a{
  display: block;
  width:100%;
  height:100%;
}

.go-head {
  display: block;
  width: 57px;
  height: 57px;
  background: url('../img/head.png') center no-repeat;
  position: fixed;
  top: 50%;
  right: 50px;
}

.coursel {
  overflow: hidden;
  /*width: 440px;*/
  width: 100%;
  height: 85px;
  position: relative;
}

.coursel-main{
  width: 15000px;
  height: 85px;
  position: absolute;
  left:0px; 
  transition:left 0.8s;
}
.coursel-main img{
  float: left;
}
.banner-title{
  width: 900px;
  height: 200px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}