body
{
    font-family: 微软雅黑;
    font-size: 13px;

    position: relative;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background: #fff;
}
div,
ul
{
    margin: 0;
    padding: 0;
}
img
{
    width: 100%;
    margin: 0;
    padding: 0;

    vertical-align: middle;
}
li
{
    list-style: none;
}
input
{
    border: none;
    outline: none;
    background: none;
}
