
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="apple-mobile-web-app-title" content="大众点评">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/dpShare.js"></script>
     <script>
    var _gaq = [
      ['_setAccount', 'UA-464026-1'],
      ['_addOrganic', 'soso', 'w'],
      ['_addOrganic', 'sogou', 'query'],
      ['_addOrganic', 'yodao', 'q'],
      ['_addOrganic', 'bing', 'q'],
      ['_addOrganic', '360', 'q'],
      ['_addOrganic', 'gougou', 'search']
    ], dpga = function (key) {
      _gaq.push(['_trackPageview', key || ''])
    }, pageTracker = {_trackPageview: dpga}, _hip = [];
    var h = location.pathname+location.search;
    pageTracker._trackPageview(h);
  </script>
     <script>
        !function(){function c(a){var b=location.search.match(new RegExp("[?&]"+a+"=([^&]+)","i"));return null==b||b.length<1?"":b[1]}var a,b;if(String.prototype.trim=function(){return this.replace(/(^s*)|(s*$)/g,"")},a=c("token"),a&&a.trim().length){if(window.XMLHttpRequest)b=new XMLHttpRequest,b.overrideMimeType&&b.overrideMimeType("text/xml");else if(window.ActiveXObject)try{b=new window.ActiveXObject("Microsoft.XMLHTTP")}catch(d){}b&&(b.open("GET","http://event.dianping.com/activities/common/checkToken?token="+a+"&rand="+parseInt(1e8*Math.random()),!0),b.onreadystatechange=function(){4==b.readyState&&200==b.status&&b.responseText},b.send("token="+a))}}();
    </script>
</head>

<body >
   
</body>
<script type="text/template" id="template">
          
</script>
<script>
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = !0;
        ga.src = 'http://t1.dpfile.com/t/res/ga2.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
        </script>
    <script src="js/zepto.min.js"></script>
    <script src="js/index.js"></script>
</html>

