<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <link rel="stylesheet" href="css/base-old.v10.css">
	 <link rel="stylesheet" href="css/main.css">
	  <script>
    var _gaq = [
      ['_setAccount', 'UA-464026-1'],
      ['_addOrganic', 'soso', 'w'],
      ['_addOrganic', 'sogou', 'query'],
      ['_addOrganic', 'yodao', 'q'],
      ['_addOrganic', 'bing', 'q'],
      ['_addOrganic', '360', 'q'],
      ['_addOrganic', 'gougou', 'search']
    ], dpga = function (key) {
      _gaq.push(['_trackPageview', key || ''])
    }, pageTracker = {_trackPageview: dpga}, _hip = [];
    var h = location.pathname+location.search;
    pageTracker._trackPageview(h);
  </script>
	<title></title>
</head>
<body>
		<!--header-->
		<div class="header-bar">
			<div class="inner Fix">
				<a class="logo" href="http://www.dianping.com" title="大众点评网"><img src="http://i3.dpfile.com/s/res/betalogo-simple.png" alt="大众点评网"></a>
				<span class="tagline">爱生活，爱点评！</span>
				<ul class="quick-menu hd-menu">
					<li class="first mi">
						<a target="_blank" href="http://www.dianping.com">点评网首页</a>
					</li>
					<li class="mi">
						<a target="_blank" href="http://www.dianping.com/promo">优惠券</a>
					</li>
					<li class="mi">
						<a target="_blank" href="http://t.dianping.com">团购</a>
					</li>
					<li class="mi">
						<a target="_blank" href="http://q.dianping.com">签到</a>
					</li>
					<li class="mi">
						<a target="_blank" href="http://s.dianping.com/group">社区</a>
					</li>
					<li class="mi">
						<a target="_blank" href="http://www.dianping.com/events/m/index.htm">手机版</a>
					</li>
				</ul>
			</div>
		</div>

		<!--center-->
		<div class="center">
			
		</div>
		<!--footer-->
		<div class="footer-static">
			<ul>
				<li>
					<a target="_blank" href="http://www.dianping.com/aboutus" rel="nofollow">关于大众点评</a>|
				</li>
				<li>
					<a target="_blank" href="http://s.dianping.com/topic/2815561" rel="nofollow">诚信公约</a>|
				</li>
				<li>
					<a target="_blank" href="http://www.dianping.com/help" rel="nofollow">网站帮助</a>|
				</li>
				<li>
					<a target="_blank" href="http://www.dianping.com/business/" rel="nofollow">推广服务</a>|
				</li>
				<li>
					<a target="_blank" href="http://www.dianping.com/aboutus/media" rel="nofollow">媒体报道</a>|
				</li>
				<li>
					<a target="_blank" href="http://careers.dianping.com/" rel="nofollow">人才招聘</a>|
				</li>
				<li>
					<a target="_blank" href="http://www.dianping.com/forum" rel="nofollow">站务论坛</a>|
				</li>
				<li>
					<a target="_blank" href="http://www.dianping.com/contactus" rel="nofollow">联系我们</a>|
				</li>
				<li>
					<a target="_blank" href="http://developer.dianping.com/" rel="nofollow">开发者</a>
				</li>
			</ul>
			<p>
				©2003-2014 dianping.com, All Rights Reserved.　　本站发布的所有内容，未经许可，不得转载，详见<a href="http://www.dianping.com/aboutus/zhishichanquan.html" rel="nofollow">《知识产权声明》</a>。
			</p>
		</div>
	</div>
	
</body>
 <script>
	(function () {
	    var ga = document.createElement('script');
	    ga.type = 'text/javascript';
	    ga.async = !0;
	    ga.src = 'http://t1.dpfile.com/t/res/ga2.js';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(ga, s);
	  })();
        </script>
        <script  type="text/javascript"  src="js/jquery.min.js"></script>
        <script  type="text/javascript"  src="js/main.js"></script>
</html>